* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Tektur", sans-serif;
}

body {
  background-color: #555d4c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin-top: 80px;
  font-size: 60px;
  font-weight: 600;
  color: #dff582;
  text-shadow: 1px 1px 9px #000, -1px -1px 9px #000, 1px -1px 9px #000,
    -1px 1px 9px #000; /* Cria um efeito de sombra que parece uma borda - */
}

form {
  display: flex; /* Ativa o Flexbox */
  justify-content: center; /* Centraliza os itens no eixo principal */
  align-items: center; /* Centraliza os itens no eixo transversal */
  flex-direction: column; /* Empilha os itens verticalmente */
  background-color: #434d36;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000, -1px -1px 9px #000, 1px -1px 9px #000,
    -1px 1px 9px #000; /* Sombra */
  width: 50%;
  height: 50vh;
  padding: 20px;
  margin-top: 20px;
}

label,
input,
button,
a {
  display: block; /* Garante que cada elemento ocupe uma nova linha */
  width: 80%; /* Ajusta o tamanho em relação ao formulário */
  text-align: center; /* Centraliza o texto */
  margin-bottom: 10px; /* Espaçamento entre os elementos */
}

button {
  background-color: grey;
  color: #000;
  border: none;
  padding: 10px 20px; /* Ajusta o tamanho do botão */
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  box-shadow: 0px 0px 10px #000, -1px -1px 9px #000, 1px -1px 9px #000,
    -1px 1px 9px #000; /* Sombra */
  width: 40%;
}

a {
  color: white; /* Cor do link */
  text-decoration: none; /* Remove o sublinhado */
  font-size: 14px;
  font-weight: 400;
}
